<h2 class="text-center mb-5">Our Products</h2>
<div class="row row-cols-3 row-cols-md-2 row-cols-lg-3 g-4">

@for (item of productList; track $index) {
    <a [routerLink]="['/details', item.id]"class="text-decoration-none">
        <div class="col">
            <div class="card product-card ">
                <img [src]="item.images" class="card-img-top" alt="Product 1">
                <div class="card-body text-center">
                    <h5 class="card-title">{{item.title }}</h5>
                    <p class="card-text">{{item.price  | currency }}</p>
                    <a href="#" class="btn btn-shop">Buy Now</a>
                </div>
            </div>
        </div>
    </a>
  
}@empty {
    <h1>No Movies Founded!</h1>
  }
</div>
